.article1 {
	width: 200px;
	height: 200px;
	margin: 10px;
	padding: 20px;
	background-color: #d5e1f7;
}

.article2 {
	width: 200px;
	height: 200px;
	margin: 10px;
	padding: 20px;
	background-color: #d5e1f7;
}